<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Video Viewer</title>
    <style>
        .video-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 20px;
        }
        .video-wrapper {
            margin-bottom: 20px;
        }
        video {
            max-width: 100%;
            height: auto;
        }
        .video-name {
            margin-top: 10px;
        }
        .download-button {
            display: inline-block;
            margin-top: 10px;
            padding: 5px 10px;
            background-color: #525352;
            color: white;
            text-decoration: none;
            border-radius: 3px;
        }
    </style>
</head>
<body>
    <div class="video-container">
        {% for file in video_files %}
        <div class="video-wrapper">
            <video controls>
                <source src="{{ url_for('video', filename=file) }}" type="video/mp4">
                Il tuo browser non supporta la riproduzione video.
            </video>
            <div class="video-name">{{ file }}</div>
            <a href="{{ url_for('video', filename=file) }}" class="download-button" download>Download</a>
        </div>
        {% endfor %}
    </div>
</body>
</html>
