<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galleria Frames</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .image-item {
            margin: 10px;
            cursor: pointer;
            text-align: center;
        }

        .image-item img {
            max-width: 100%;
            height: auto;
            transition: transform 0.2s;
        }

        .image-item img:hover {
            transform: scale(1.1);
        }
    </style>
</head>
<h1>nicoz Gallery</h1>
<body>
    <!-- Galleria di miniature con nome -->
    <div id="image-gallery">
        <!-- Le miniature verranno aggiunte qui dinamicamente -->
    </div>

    <!-- Visualizzazione a schermo intero -->
    <div id="fullscreen-container">
        <span id="close-fullscreen" onclick="closeFullscreen()">&times;</span>
        <img id="fullscreen-image" src="" alt="Immagine a schermo intero">
    </div>

    <script>
        const imageGallery = document.getElementById("image-gallery");
        const fullscreenContainer = document.getElementById("fullscreen-container");
        const fullscreenImage = document.getElementById("fullscreen-image");

        // Funzione per chiudere la visualizzazione a schermo intero
        function closeFullscreen() {
            fullscreenContainer.style.display = "none";
        }

        // Funzione per aprire un'immagine a schermo intero
        function openFullscreen(imageUrl) {
            fullscreenImage.src = imageUrl;
            fullscreenContainer.style.display = "block";
        }

        // Codice per caricare le miniature delle immagini dalla cartella
        const imageNames = {{ image_names | tojson | safe }};
        imageNames.forEach((imageName) => {
            const img = document.createElement("img");
            img.src = `/frames/${imageName}`;
            img.alt = imageName;

            const item = document.createElement("div");
            item.classList.add("image-item");
            item.appendChild(img);

            // Aggiungi l'evento di doppio clic per la visualizzazione a schermo intero
            img.addEventListener("dblclick", () => {
                openFullscreen(`/frames/${imageName}`);
            });

            imageGallery.appendChild(item);
        });
    </script>
</body>
</html>
