<!DOCTYPE html>
<html lang="it">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <head>
    <title>Security Vision by LinuxLab</title>
    </head>
    <style>
        body {
            font-family: Arial, sans-serif;
        }
        .header {
            background-color: #4a4949;
            color: #f9f9f9;
            padding: 10px;
            text-align: center;
        }

        .content {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            padding: 20px;
        }
        .camera {
            border: 1px solid #ddd;
            border-radius: 5px;
            padding: 10px;
            margin: 10px;
            width: 300px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
        .camera img {
            max-width: 100%;
            height: auto;
        }
        .camera-name {
            font-size: 18px;
            margin-top: 5px;
        }
        .dropdown {
            position: relative;
            display: inline-block;
            margin-right: 20px;
        }
        .dropdown-content {
            display: none;
            position: absolute;
            background-color: #f9f9f9;
            min-width: 160px;
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            z-index: 1;
        }
        .dropdown:hover .dropdown-content {
            display: block;
        }
    </style>
</head>
<body>
    <div class="header">
        <h1>Security Vision by LinuxLab</h1>
    </div>
    <button onclick="location.href='/start_motion_detection'">Start Motion Detection</button>

    <button onclick="location.href='/stop_motion_detection'">Stop Motion Detection</button>
        
    <form action="{{ url_for('logout') }}" method="post">
        <input type="submit" value="Logout">
        <script>
            window.onbeforeunload = function() {
                return '';
            };
        </script>
    </form>
    <button onclick="openGallery()">Galleria frames</button>
    <script>
        function openGallery() {
            window.location.href = "/frames";
        }
    </script>
    

    <form action="{{ url_for('file_viewer') }}" target="_blank">
        <input type="submit" value="Visualizza Video Salvati">
    </form>
    </div>


    <div class="header">
        <h1>LinuxLab Cam Viewer</h1>
    <div class="content">
        <div class="camera">
            <img src="" alt="Cam1">
            <div class="camera-name">Cam1</div>
               <div id="video-container">
                <img id="video" src="/video_feed" width="1480" height="1920" type="video/mp4">
                <div id="timestamp"></div>
            </div>
            <form method="post" action="/capture_frame">
                <button type="submit">Cattura Frame</button>
            </form>
                <img id="captured-frame" src="" alt="Frame catturato" style="display: none;">
            <script>
                var videoContainer = document.getElementById("video-container");
                var video = document.getElementById("video");
                // Gestisci il doppio clic per attivare la modalità schermo intero
                videoContainer.addEventListener("dblclick", function () {
                if (video.requestFullscreen) {
                    video.requestFullscreen();
                    } else if (video.mozRequestFullScreen) {
                        video.mozRequestFullScreen();
                    } else if (video.webkitRequestFullscreen) {
                        video.webkitRequestFullscreen();
                    }
                });
            
                // Gestisci la pressione del tasto ESC per uscire dalla modalità schermo intero
                document.addEventListener("fullscreenchange", function () {
                if (!document.fullscreenElement) {
                    if (document.exitFullscreen) {
                        document.exitFullscreen();
                    } else if (document.mozCancelFullScreen) {
                        document.mozCancelFullScreen();
                    } else if (document.webkitExitFullscreen) {
                        document.webkitExitFullscreen();
                        }
                    }
                });
                </script>
        </div>
    </div>
</body>
</html>
